body::-webkit-scrollbar {
    width: 8px;         
}
  
body::-webkit-scrollbar-track {
    background: #0070b4;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #5ba3dd;    
    border-radius: 20px;      
    border:  none;  
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
  }

 
:target {
  scroll-margin-top: .8em;
}

body{
    scroll-behavior: smooth;
    max-width: 1400px;
    margin: 0 auto;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: poppinsBold;
    background: #0070b4;
}

#banner{
    position: relative;
    display: inline-block;
    width: 1349px;
}

.button{
    position:absolute;
    top: 720px;
    left: 845px;
    font-size: 16px;
    background: #155d97;
    color: white;
    padding: 10px 20px 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 20px #337cb8;
}

.button:hover{
    cursor: pointer;
    color: #1f6fb0;
    font-size: 18px;
    padding: 10px 23px 10px;
    background-color: white;
    box-shadow: 0 0 20px white;
    transition: 0.3s;
}

nav{
    background: #0070b4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    margin-left: 900px;
}

li{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    font-family: poppinsBlack;
}

a{
    text-decoration: none;
}

.nav-bar{
    color: white;
    text-decoration: none;
} 

.nav-bar:hover{
    color: #1f6fb0;
    padding: 8px;
    border: 2px solid white;
    border-radius: 20px;
    background: white;
    transition: 0.2s all;
}

h1{
    font-family: poppinsBlack;
    color: rgb(255, 255, 255);
    margin-left: 100px;
    font-size: 60px;
    transition: 0.3s;
}

p{
    color: white;
    margin-left: 100px;
    font-size: 20px;
    max-width: 800px;
    margin-top: -40px;
    transition: 0.3s;
}

.color{
    margin-top: 10px;
    padding: 65px;
    background: #0070b4;
}

.img{
    width: 520px;
    margin-top: -210px;
    margin-left: 650px;
    box-shadow: 0 0 40px black;
    transition: 0.3s;
}

.img:hover{
    width: 620px;
    margin-left: 520px;
    transition: 0.5s;
}

.separador1{
    background: #337cb8;
    padding: 5px;
    width: 800px;
    height: 0.2px;
    margin-left: 275px;
    border-radius: 20px;
    transition: 0.3s;
}

.separador1:hover{
    width: 830px;
    margin-left: 250px;
    transition: 0.3s;
}

.separador2{
    background: #337cb8;
    padding: 5px;
    width: 800px;
    height: 0.2px;
    margin-left: 275px;
    border-radius: 20px;
    transition: 0.3s;
}

.separador2:hover{
    width: 830px;
    margin-left: 250px;
    transition: 0.3s;
}

.container-info{
    margin-top: 10px;
    padding: 30px;
    display: block;
    justify-content: space-between;
    background: #0070b4;
    transition: 0.3s;
}

.container-txt{
    margin-top: 150px;
    margin-left: 650px;
}

h2{
    margin-top: -100px;
    margin-left: 100px;
    font-size: 30px;
    color: white;

}

.txt-p{
    margin-top: 20px;
    max-width: 400px;
}

.container-img{
    margin-top: -290px;
    margin-left: 120px;
    width: 540px;
    border-radius: 20px;
    box-shadow: 0 0 30px black;
}

.container-img:hover{
    width: 620px;
    margin-left: 180px;
    transition: 0.5s;
}

.container-plans{
    background: #0070b4;
    margin-top: 10px;
    padding: 30px;
    transition: 0.3s;
}